@font-face {
    font-family: 'cera_proregular';
    src: url('../fonts/cerapro-regular-webfont.eot');
    src: url('../fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-regular-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-regular-webfont.woff') format('woff'),
    url('../fonts/cerapro-regular-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    margin-bottom: 12px;
    padding-top: 30px;
}

header .container {
    padding-bottom: 16px;
    border-bottom: 0.30px solid rgba(70, 163, 88, 0.5);
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
}

header nav ul li {
    position: relative;
}

header nav ul li a:hover {
    font-weight: 700;
    font-size: 16px;
    color: #3d3d3d;
}

header nav ul li a:before {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #46a358;
    position: absolute;
    bottom: -25px;
    transition: 0.4s;
}

header nav ul li a:hover:before {
    width: 100%;
}

header nav ul li a {
    position: relative;
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
    max-width: 178px;
}

header nav ul li .dropdown > li:last-of-type:hover .product-selection {
    display: block;
}

header nav ul .drop .product-selection {
    display: none;
    position: absolute;
    top: -108px;
    left: 150px;
    padding-left: 45px;
}

header nav ul .drop .product-selection li {
    list-style: none;
}

header nav ul .drop .product-selection li a {
    display: block;
    padding: 10px 20px;
    color: #3d3d3d;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

header nav ul .drop .product-selection li a:hover {
    background-color: #46a358;
    color: #fff;
}

header nav ul li .dropdown {
    display: none;
    list-style: none;
    position: absolute;
    top: 10px;
    left: -35px;
    padding-top: 45px;
}

header nav ul li .dropdown a {
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    font-family: 'cera_proregular';
    line-height: 20px;
    padding: 8px 14px;
    min-width: 188px;
    display: inline-block;
    background-color: #edf6ee;
    position: relative;
}

header nav ul li .dropdown a:hover:before {
    display: none;
}

header nav ul li .dropdown a:hover {
    background: #1a712a;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    transition: 0.3s;
}

header nav ul li .dropdown > li:last-of-type > a:after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 10px;
    right: 17px;
    top: 14px;
    position: absolute;
    background-image: url("../img/arrow.svg");
}

header nav ul li .dropdown li:last-of-type a:hover:after {
    background-image: url("../img/arrow-hover.svg");
}

header nav ul li.drop:hover .dropdown {
    display: block;
}


header .login {
    font-family: 'cera_proregular';
    border: 1px solid #ffffff;
    background: #46a358;
    border-radius: 6px;
    padding: 7px 17px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}

header .login svg {
    margin-right: 4px;
}

header .login svg path {
    transition: 0.4s;
}

header .login:hover {
    border: 1px solid #46a358;
    background-color: #ffffff;
    color: #46a358;
}

header .login:hover svg path {
    stroke: #46a358;
}


.banner {
    margin-bottom: 30px;
}

.banner .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
}

.banner article {
    margin-left: 40px;
}

.banner h3 {
    margin-bottom: 7px;
    font-family: 'cera_proregular';
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
}

.banner h1 {
    margin: 0 0 5px 0;
    font-family: 'cera_proregular';
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
}

.banner h1 span {
    color: #46a358;
}

.banner p {
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 44px;
}

.banner .shop_now {
    font-family: 'cera_proregular';
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #ffffff;
    background: #46a358;
    border-radius: 6px;
    transition: 0.4s;
    text-decoration: none;
    padding: 10px 26px;
}

.banner .shop_now:hover {
    border: 1px solid #46a358;
    background-color: #ffffff;
    color: #46a358;
    transition: 0.4s;
}

.layout .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.layout .categories {
    max-width: 310px;
    background: #fbfbfb;
}

.layout .categories h3 {
    font-family: 'cera_proregular';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin: 14px 0 7px 18px;
}

.layout .categories ul {
    margin-left: 30px;
    padding-bottom: 342px;
}

.layout .categories ul li a {
    font-family: 'cera_proregular';
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 267%;
    color: #3d3d3d;
}

.layout .categories ul li a:hover {
    color: #46a358;
    font-weight: 700;
}

.layout .categories img {
    width: 100%;
}

.layout .product {
    max-width: 840px;
    margin-left: 50px;
}

.layout .product .sortable {
    display: flex;
    margin-bottom: 38px;
}

.layout .product .sortable ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.layout .product .sortable ul li a {
    font-family: 'cera_proregular';
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    position: relative;
}

.layout .product .sortable ul li a:hover {
    font-weight: 700;
    color: #46a358;
}

.layout .product .sortable ul li a:hover:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #46a358;
    position: absolute;
    bottom: -5px;
    transition: 0.4s;
}

.layout .sortable span {
    margin-left: auto;
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
}

.layout .product-list .product_svg {
    position: relative;
    top: -20px;
}

.layout .product-list .product_svg ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

.layout .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 70px 30px;
}

.layout .product-list .discount {
    display: inline-block;
    padding: 7px 9px;
    background-color: #46A358;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    position: absolute;
    text-transform: uppercase;
    top: 14px;
    font-family: 'cera_proregular';
}

.layout .product-list article {
    z-index: 3;
    position: relative;
}

.layout .product-list .frame {
    z-index: -1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    bottom: 55px;
    left: 72px;
}

.layout .product-list .frame a.buy-button {
    background-image: url("../img/buybutton.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.layout .product-list .frame a.buy-button:hover {
    background-image: url("../img/greenbuybutton.svg");
}

.layout .product-list .frame a.like-button {
    background-image: url("../img/likebutton.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.layout .product-list .frame a.like-button:hover {
    background-image: url("../img/greenlikebutton.svg");
}

.layout .product-list .frame a.find-button {
    background-image: url("../img/findbutton.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.layout .product-list .frame a.find-button:hover {
    background-image: url("../img/greenfindbutton.svg");
}

.layout .product-list article:hover .frame {
    z-index: 1;
}

.layout .product-list .frame a:hover svg path {
    fill: #46a358;
}

.layout .product-list article {
    border-top: 3px solid transparent;
    margin-bottom: 50px;
}

.layout .product-list article:hover {
    border-top: 3px solid #46a358;
}

.layout .product-list img {
    max-width: 250px;
    height: 250px;
    background: #fbfbfb;
}

.layout .product-list h4 {
    padding-top: 10px;
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
}

.layout .product-list p {
    margin-top: 5px;
    font-family: 'cera_proregular';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
}

.layout .page_number {
    float: right;
}

.layout .page_number ul {
    display: flex;
    gap: 10px;
}

.layout .page_number ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid #e5e5e5;
    font-family: 'cera_proregular';
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    border-radius: 4px;
}

.layout .page_number ul li a:hover {
    font-weight: 700;
    border: 1px solid #46a358;
    background-color: #46a358;
    color: #ffffff;
    transition: 0.4s;
}

.blog_find .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.blog_find .find_more {
    display: flex;
    align-items: center;
}

.blog_find .find_more img {
    position: relative;
    top: 220px;
    height: 287px;
    max-width: 287px;
}

.blog_find .find_more_area{
    background: #fbfbfb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog_find img {

    max-width: 292px;
    height: 292px;

}

.blog_find h4 {
    margin-bottom: 9px;
    margin-right: 20px;
    font-family: 'cera_proregular';
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
}

.blog_find p {
    margin-right: 20px;
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
    margin-bottom: 25px;
}

.blog_find .find_more_button {
    margin-right: 30px;
    gap: 2px;
    font-family: 'cera_proregular';
    border: 1px solid #ffffff;
    background: #46a358;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.4s;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    padding: 10px 16px 10px 26px;
    float: right;
}

.blog_find .find_more_button svg {
    margin-right: 4px;
}

.blog_find .find_more_button svg path {
    transition: 0.4s;
}

.blog_find .find_more_button:hover {
    border: 1px solid #46a358;
    background-color: #ffffff;
    color: #46a358;
}

.blog_find .find_more_button:hover svg path {
    stroke: #46a358;
    stroke-width: 1px;
}

.blog_posts {
    margin-bottom: 100px;
}

.blog_posts .container {
    max-width: 1200px;
    padding-top: 60px;
margin: 0 auto;
}

.blog_posts .blog_posts_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog_posts h3 {
    font-family: 'cera_proregular';
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;
    margin-bottom: 15px;
}

.blog_posts .slogan {
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #727272;
    margin-bottom: 35px;
}

.blog_posts .posts div {
    background: #fbfbfb;
}

.blog_posts .posts img {
    margin-bottom: 9px;
    max-width: 277px;
    height: 195px;
}

.blog_posts .date {
    margin-left: 15px;
    font-family: 'cera_proregular';
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
    margin-bottom: 4px;
}

.blog_posts .text {
    margin-bottom: 9px;
    margin-left: 15px;
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
}

.blog_posts .posts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.blog_posts .posts img {
    width: 268px;
    height: 195px;
}

.blog_posts h4 {
    margin-left: 15px;
    font-family: 'cera_proregular';
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
}

.blog_posts .read_more_button {
    margin-bottom: 10px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    gap: 1px;
    font-family: 'cera_proregular';
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
}

.blog_posts .read_more_button:hover {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
}

.blog_posts .read_more_button:hover svg path {
    fill: #46a358;
    stroke-width: 1px;
}

.blog_posts span {
    margin: 0 5px;
}

.blog_posts .blog_post_area{
    margin-right: 10px;
}

.find_more_area{
    margin-right: 10px;
}
.blog_posts .blog_post_area:nth-child(2){
    margin-right: 0;
}

.find_more_area:nth-child(4){
    margin-right: 0;
}

.news .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fbfbfb;
}

.news .last_news {
    padding-top: 24px;
    max-width: 204px;
}

.news .last_news:nth-child(2):before, .news .container div:nth-child(3):before {
    content: '';
    display: block;
    position: relative;
    max-width: 187px;
    height: 1px;
    background: rgba(70, 163, 88, 0.1);
    transform: rotate(90deg);
    top: 100px;
    right: 120px;
}

.news .last_news img {
    margin-left: 25px;
    margin-bottom: 15px;
}

.news .last_news h4 {
    margin-left: 25px;
    font-family: 'cera_proregular';
    font-weight: 700;
    font-size: 17px;
    line-height: 94%;
    color: #3d3d3d;
    margin-bottom: 9px;
}

.news .last_news p {
    margin-left: 25px;
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    margin-bottom: 24px;
}

.news .newsletter {
    max-width: 354px;
    margin-right: 25px;
}

.news .newsletter h3 {
    font-family: 'cera_proregular';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-bottom: 25px;
}

.news .newsletter form {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 18px;
}

.news .newsletter form input {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
    border: none;
    border-radius: 6px 0 0 6px;
    max-width: 354px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #acacac;
    padding: 12px 0 12px 11px;
}

.news .newsletter form input:focus {
    outline: #46A358 solid 2px;
}

.news .newsletter form button {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
    outline: #46A358 solid 2px;
    border: none;
    border-radius: 0 6px 6px 0;
    max-width: 85px;
    height: 40px;
    background: #46a358;
    font-family: 'cera_proregular';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
    cursor: pointer;
    padding: 12px 25px;
}

.news .newsletter p {
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    color: #727272;
    margin: 0;
}

.contacts .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
    padding: 25px 0;
}

.contacts img {
    margin-left: 23px;
}

.contacts p {
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.contacts .phone {
    margin-right: 23px;
}

.contacts .address:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../img/address.svg");
}

.contacts .email:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../img/email.svg");
}

.contacts .phone:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../img/phone.svg");
}

.lists .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fbfbfb;
    padding: 33px 0 33px 33px;
    border-bottom: rgba(70, 163, 88, 0.2) solid 2px;
}

.lists h2 {
    font-family: 'cera_proregular';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-bottom: 8px;
}

.lists ul li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
}

.lists ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.lists .social-accept {
    margin-right: 179px;
}

.lists .social-accept ul {
    display: flex;
    gap: 10px;
    margin-bottom: 33px;
}

.lists .social-accept h2 {
    margin-bottom: 20px;
}

.lists .social-accept ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    border: 1px solid rgba(70, 163, 88, 0.2);
    border-radius: 4px;
    width: 30px;
    height: 30px;
}

.lists .social-accept .social-media li a:hover {
    background-color: #46A358;
    border: 1px solid #46A358;
    opacity: 0.6;
    transition: 0.4s;
}

.lists .social-accept .social-media li a:hover svg path {
    fill: #FFFFFF;
    fill-opacity: 100%;
    transition: 0.4s;
}

.lists .social-accept img {
    width: 224px;
    height: 26px;
}


.reserved {
    text-align: center;
    padding-top: 7px;
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
}


.registration {
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.close-btn {
    position: relative;
    margin-left: 440px;
    margin-top: -10px;
    text-decoration: none;
}

.close-btn a{
    text-decoration: none;
}

.close-btn span {
    top: -10px;
    right: -150px;
    color: #46A358;
    font-size: 36px;
    cursor: pointer;
}

.tabs {
    margin-bottom: 10px;
}

.tab-button {
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #3D3D3D;
}

.tab-button.active {
    color: #46A358;
}

.separator {
    margin: 0 10px;
}

.registration-form p {
    font-size: 14px;
    color: #3D3D3D;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: 80%;
    padding: 10px;
    border: 1px solid #A5A5A5;
    border-radius: 5px;
    font-size: 14px;
    color: #A5A5A5;
}

.form-group button {
    width: 80%;
    padding: 10px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    background-color: #46A358;
}

.divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    height: 1px;
    background: #ccc;
}

.divider span {
    margin: 0 10px;
    font-size: 14px;
    color: #555;
}

.social-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    width: 80%;
    padding: 10px;
    background: #FFFFFF;
    color: #727272;
    border: 1px solid #A5A5A5;
    border-radius: 5px;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
}

.social-btn svg {
    margin-right: 8px;
}

.social-buttons a img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.bottom-rectangle {
    position: relative;
    top: 20px;
    margin: 0 -20px 0 -20px;
    height: 15px;
    background-color: #46A358;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
    animation: slideRight 6s forwards;
    animation-delay: 1s;
}

@keyframes slideRight {
    from {
        margin-left: 0;
        width: 100%;
    }

    to {
        margin-left: 100%;
        width: 100%;
    }

}

.preloader-reg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
    animation: slideDown 4s forwards;
    animation-delay: 1s;
}

@keyframes slideDown {
    from {
        margin-top: 0;
        height: 100%;
    }

    to {
        margin-top: 100%;
        height: 100%;
    }

}*/