@font-face {
    font-family: 'cera_proregular';
    src: url('../fonts/cerapro-regular-webfont.eot');
    src: url('../fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-regular-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-regular-webfont.woff') format('woff'),
    url('../fonts/cerapro-regular-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    margin-bottom: 12px;
    padding-top: 30px;
}

header .container {
    padding-bottom: 18px;
    border-bottom: 0.30px solid rgba(70, 163, 88, 0.5);
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
}

header nav ul li a:hover{
    border-bottom: 3px solid #46a358;
}

header nav ul li a {
    padding: 24px 0px;
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
}

header .login {
    font-family: 'cera_proregular';
    border: 1px solid #ffffff;
    background: #46a358;
    border-radius: 6px;
    padding: 7px 17px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}

header .login svg {
    margin-right: 4px;
}

header .login svg path {
    transition: 0.4s;
}

header .login:hover {
    border: 1px solid #46a358;
    background-color: #ffffff;
    color: #46a358;
}

header .login:hover svg path {
    stroke: #46a358;
}


.banner .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
}

.banner article {
    margin-left: 40px;
}

.banner h3 {
    margin-bottom: 7px;
    font-family: 'cera_proregular';
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
}

.banner h1 {
    margin: 0 0 5px 0;
    font-family: 'cera_proregular';
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
}

.banner h1 span {
    color: #46a358;
}

.banner p {
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 44px;
}

.banner .shop_now {
    font-family: 'cera_proregular';
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #ffffff;
    background: #46a358;
    border-radius: 6px;
    transition: 0.4s;
    text-decoration: none;
    padding: 10px 26px;
}

.banner .shop_now:hover {
    border: 1px solid #46a358;
    background-color: #ffffff;
    color: #46a358;
    transition: 0.4s;
}

.layout {
    margin-top: 30px;
}

.layout .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.layout .categories {
    width: 310px;
    background: #fbfbfb;
}

.layout .categories h3 {
    font-family: 'cera_proregular';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin: 14px 0 7px 18px;
}

.layout .categories ul {
    margin-left: 30px;
    padding-bottom: 342px;
}

.layout .categories ul li a {
    font-family: 'cera_proregular';
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 267%;
    color: #3d3d3d;
}

.layout .categories ul li a:hover {
    color: #46a358;
    font-weight: 700;
}

.layout .categories img {
    width: 100%;
}

.layout .product {
    width: 840px;
    margin-left: 50px;
}

.layout .product .sortable {
    display: flex;
}

.layout .product .sortable ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.layout .product .sortable ul li a {
    font-family: 'cera_proregular';
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
}

.layout .sortable ul li a:hover {
    color: #46a358;
    font-weight: 700;
}

.layout .sortable article {
    margin-left: auto;
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
}

.layout .product-list .product_svg {
    position: relative;
    top: -20px;
}
.layout .product-list .product_svg ul{
    display: flex;
    align-items: center;
    gap: 10px;
}

.layout .product-list {
    margin-top: 38px;
    display: flex;
    flex-wrap: wrap;
    gap: 70px 30px;
}

.layout .product-list .frame{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    position: relative;
    bottom: 30px;
}

.layout .product-list .frame a:hover svg path{
    fill: #46a358;
}

.layout .product-list article{
    border-top: 3px solid transparent;
}

.layout .product-list article:hover {
    border-top: 3px solid #46a358;
}

.layout .product-list img {
    width: 258px;
    background: #fbfbfb;
}

.layout .product-list h4 {
    margin-top: -10px;
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
}

.layout .product-list p {
    margin-top: 5px;
    font-family: 'cera_proregular';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
}

.layout .page_number {
    margin: 50px 0;
    float: right;
}

.layout .page_number ul {
    display: flex;
    gap: 10px;
}

.layout .page_number ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid #e5e5e5;
    font-family: 'cera_proregular';
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    border-radius: 4px;
}

.layout .page_number ul li a:hover {
    font-weight: 700;
    border: 1px solid #46a358;
    background-color: #46a358;
    color: #ffffff;
    transition: 0.4s;
}

.blog_find .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.blog_find .find_more {
    display: flex;
    align-items: center;
}

.blog_find img {
    position: relative;
    top: -50px;
    height: 287px;
    width: 287px;
}

.blog_find .find_more {
    background: #fbfbfb;
}

.blog_find h4 {
    margin-right: 20px;
    font-family: 'cera_proregular';
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
}

.blog_find p {
    margin-right: 20px;
    margin-top: 9px;
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
}

.blog_find .find_more_button {
    margin-top: 25px;
    margin-right: 30px;
    gap: 2px;
    font-family: 'cera_proregular';
    border: 1px solid #ffffff;
    background: #46a358;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.4s;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    padding: 10px 16px 10px 26px;
    width: 45%;
    float: right;
}

.blog_find .find_more_button svg {
    margin-right: 4px;
}

.blog_find .find_more_button svg path {
    transition: 0.4s;
}

.blog_find .find_more_button:hover {
    border: 1px solid #46a358;
    background-color: #ffffff;
    color: #46a358;
}

.blog_find .find_more_button:hover svg path {
    stroke: #46a358;
    stroke-width: 1px;
}

.blog_posts .container {
    max-width: 1200px;
    margin: auto;
    padding-top: 60px;
    margin-bottom: 60px;
}

.blog_posts h3 {
    font-family: 'cera_proregular';
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;
}

.blog_posts .slogan {
    margin-top: 15px;
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #727272;
}

.blog_posts .posts div {
    background: #fbfbfb;
}

.blog_posts .posts img {
    width: 277px;
    height: 195px;
}

.blog_posts .date {
    margin-left: 15px;
    margin-top: 9px;
    font-family: 'cera_proregular';
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
}

.blog_posts .text {
    margin-left: 15px;
    margin-top: 4px;
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
}

.blog_posts .posts {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.blog_posts h4 {
    margin-left: 15px;
    margin-top: 4px;
    font-family: 'cera_proregular';
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
}

.blog_posts .read_more_button {
    margin-left: 15px;
    margin-top: 9px;
    display: flex;
    align-items: center;
    gap: 1px;
    font-family: 'cera_proregular';
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
}

.blog_posts .read_more_button:hover {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
}

.blog_posts .read_more_button:hover svg path {
    fill: #46a358;
    stroke-width: 1px;
}

.blog_posts span {
    margin: 0 5px;
}


.registration {
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.close-btn {
    position: relative;
    margin-left: 440px;
    margin-top: -10px;
}

.close-btn span {
    top: -10px;
    right: -150px;
    color: #46A358;
    font-size: 36px;
    cursor: pointer;
}

.tabs {
    margin-bottom: 10px;
}

.tab-button {
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #3D3D3D;
}

.tab-button.active {
    color: #46A358;
}

.separator {
    margin: 0 10px;
}

.registration-form p {
    font-size: 14px;
    color: #3D3D3D;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: 80%;
    padding: 10px;
    border: 1px solid #A5A5A5;
    border-radius: 5px;
    font-size: 14px;
    color: #A5A5A5;
}

.form-group button {
    width: 80%;
    padding: 10px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    background-color: #46A358;
}

.divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    height: 1px;
    background: #ccc;
}

.divider span {
    margin: 0 10px;
    font-size: 14px;
    color: #555;
}

.social-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    width: 80%;
    padding: 10px;
    background: #FFFFFF;
    color: #727272;
    border: 1px solid #A5A5A5;
    border-radius: 5px;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
}

.social-btn svg {
    margin-right: 8px;
}

.social-buttons a img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.bottom-rectangle {
    position: relative;
    top: 20px;
    margin: 0 -20px 0 -20px;
    height: 15px;
    background-color: #46A358;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

